html, body {
    margin:0;
    padding:0;
    font-family:sans-serif;
}

h1 {
    font-size:20px;
    margin:0;
}

p {
    margin:0;
}

.bar {
    height:75px;
    border-bottom:1px solid black;
}

.bar:last-child {
    border-bottom:0;
}

.bar--thin {
    height:50px;
}

.ui-container {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    border-top:1px solid black;
}

.hint {
    text-align:center;
    line-height:75px;
}

.audio {
    height:120px;
}

.controls {
    font-size:0;
}

.controls button {
    float:left;
    height:100%;
    width:60%;
}

.controls .controls-skip {
    width:20%;
}
