* {
    box-sizing:border-box;
}

html, body {
    margin:0;
    padding:0;
    font-family:sans-serif;
}

body {
    padding-top:55px;
}

h1 {
    font-size:18px;
    margin:0;
    line-height:30px;
}

h2 {
    font-size:12px;
    margin:0;
    line-height:12px;
}

p {
    margin:0;
}

button {
    background-color:transparent;
    border:1px solid grey;
}

.hidden {
    display:none;
}

#app {
    /* Necessary because fullscreen for some reason changes the background color to black?? */
    background-color:white;
}

.borders {
    position:relative;
    border:1px solid grey;
}

.borders:before, .borders:after {
    content:"";
    position:absolute;
    top:1px;
    bottom:1px;
    left:-4px; /* margin + border */
    right:-4px; /* margin + border */
    display:block;
    border:1px solid grey;
    pointer-events:none;
}

.borders:before {
    transform:rotate(1deg);
}

.borders:after {
    transform:rotate(-.7deg);
}

.borders-left {
    position:relative;
    border-left:1px solid grey;
}

.borders-left:before, .borders-left:after {
    content:"";
    position:absolute;
    top:1px;
    bottom:1px;
    left:-4px; /* margin + border */
    right:-4px; /* margin + border */
    display:block;
    border-left:1px solid grey;
    pointer-events:none;
}

.borders-left:before {
    transform:rotate(1deg);
}

.borders-left:after {
    transform:rotate(-.7deg);
}

.borders-right {
    position:relative;
    border-right:1px solid grey;
}

.borders-right:before, .borders-right:after {
    content:"";
    position:absolute;
    top:1px;
    bottom:1px;
    left:-4px; /* margin + border */
    right:-4px; /* margin + border */
    display:block;
    border-right:1px solid grey;
    pointer-events:none;
}

.borders-right:before {
    transform:rotate(1deg);
}

.borders-right:after {
    transform:rotate(-.7deg);
}

.borders-bottom {
    position:relative;
    border-bottom:1px solid grey;
}

.borders-bottom:before, .borders-bottom:after {
    content:"";
    position:absolute;
    top:1px;
    bottom:1px;
    left:-4px; /* margin + border */
    right:-4px; /* margin + border */
    display:block;
    border-bottom:1px solid grey;
    pointer-events:none;
}

.borders-bottom:before {
    transform:rotate(1deg);
}

.borders-bottom:after {
    transform:rotate(-.7deg);
}

.navigation {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:2;
}

h1.home {
    padding:10px;
}

.navigation-back {
    float:left;
    height:50px;
    width:50px;
    padding:10px;
    margin-right:10px;
    font-size:32px;
    text-decoration:none;
    color:black;
    text-align:center;
    line-height:1em;
}

.navigation-settings {
    position:absolute;
    right:0;
    top:0;
    margin:10px;
    height:30px;
    width:30px;
    background-image:url('/images/cog.svg');
    background-size:cover;
    font-size:0;
}

.fullscreen {
    right:40px;
}

.fullscreen--enter {
    background-image:url('/images/fullscreen-enter.svg');
}

.fullscreen--exit {
    background-image:url('/images/fullscreen-exit.svg');
}

.settings-page {
    position:fixed;
    height:100%;
    width:100%;
    padding:0 10px;
    background-color:white;
    z-index:1;
}

.bar {
    height:75px;
    background-color:white;
}

.bar:last-child {
    border-bottom:0;
}

.bar--thin {
    height:55px;
}

.ui-container {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    border-top:1px solid grey;
}

.hint {
    text-align:center;
    line-height:75px;
}

.audio {
    position:relative;
    height:120px;
    border-bottom:1px solid grey;
}

/* Todo: centre unknown better */
.audio-information {
    position:absolute;
    top:70%;
    width:100%;
    height:100%;
    text-align:center;
    pointer-events:none;
}

.audio-progress {
    height:100%;
    background-color:grey;
}

.controls {
    padding:10px 0;
    font-size:0;
}

.controls button {
    float:left;
    height:100%;
    width:44%;
    margin:0 2%;
    border:1px solid grey;
}

.controls .controls-skip {
    width:22%;
}

.list {
    position:absolute;
    width:100%;
    padding:10px;
    z-index:-1;
}

.tracks.track-selected {
    padding-bottom:215px;
}

.tracks ul li {
    display:flex;
}

.tracks ul li a:first-child {
    flex-grow:1;
}

.list ul {
    list-style:none;
    margin:0;
    padding:0;
}

.list ul li {
    position:relative;
    margin:10px 0;
}

.list ul li.li-flex {
    display:flex;
    align-items:center;
    padding:10px 0;
}

.list ul li.li-flex a:first-child {
    flex-grow:1;
}

.list ul li.li-flex a:last-child {
    height:38px;
}

.list ul li:last-child {
    margin-bottom:0;
}

.list ul li.selected a:first-child {
    font-weight:bold;
}

.list ul li a {
    float:left;
    display:block;
    padding:10px;
    color:black;
    text-decoration:none;
}

.list ul li a + a {
    float:right;
}

label {
    display:block;
    padding:5px 0;;
}
